% {erl_opts, [warnings_as_errors, debug_info]}.
{erl_opts, [debug_info]}.
{require_otp_vsn, "R15"}.
{deps, [
  {lhttpc, "1.2.6", {git, "git://github.com/esl/lhttpc.git", {tag, "6485d9a53a1e5a0234bb961a2ff0bee927380526"}}}
]}.
{clean_files, ["ebin/*.beam"]}.

{xref_checks, [undefined_function_calls]}.
