{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{require_otp_vsn, "R15"}.
{deps, [
  {lager,           "1.2.0", {git, "git://github.com/basho/lager.git",
                                   {tag, "1.2.0"}}},
  {lager_syslog,    "0.9.0", {git, "git://github.com/martinrehfeld/lager_syslog.git",
                                   {branch, "master"}}},
  {gproc,           "0.2.4", {git, "git://github.com/uwiger/gproc.git",
                                   {tag, "v0.2.4"}}},
  {lhttpc,          "1.2.6", {git, "git://github.com/esl/lhttpc.git",
                                   {tag, "6485d9a53a1e5a0234bb961a2ff0bee927380526"}}},
  {jiffy,           "0.5.2", {git, "git://github.com/davisp/jiffy.git",
                                   {tag, "0.5.2"}}},
  {cowboy,          "0.6.1", {git, "git://github.com/extend/cowboy.git",
                                   {tag, "0.6.1"}}}
]}.
{clean_files, ["ebin/*.beam"]}.

{xref_checks, [undefined_function_calls]}.
