{sys, [
       {lib_dirs, ["../apps",
                   "../deps"
                  ]},
       {rel, "glacier-proxy", "1",
        [
         kernel,
         stdlib,
         sasl,
         glacier_proxy
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "glacier-proxy"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, glacier_proxy, [{incl_cond, include}]},
       {app, lhttpc, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "glacier-proxy"}.

{overlay, [
           {mkdir, "log/sasl"},
           {mkdir, "priv"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/glacier-proxy", "bin/glacier-proxy"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
